<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button name="icon-only"></ion-back-button>
    </ion-buttons>
    <ion-title>Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/scan.jpeg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Completed</ion-card-subtitle>
          <ion-card-title> QR Code </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>QR code success</p>
        </ion-card-content>
        <ion-button expand='block'routerLink="/verify">Proceed</ion-button>
      </ion-card>
</ion-content>
