<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button name="icon-only"></ion-back-button>
    </ion-buttons>
    <ion-title>Verify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/scan.jpeg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Process Completed</ion-card-subtitle>
          <ion-card-title> QR Code </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label position="floating">V- Code</ion-label>
                <ion-input></ion-input>
             </ion-item>
            <p>insert your verification code</p>
        </ion-card-content>
        <ion-button expand='block'>Download</ion-button>
       
      </ion-card>
</ion-content>